@charset "utf-8";
/* CSS Document */

#pgAuthors {
    margin: 2rem 0;
    background-color: #2068d3;
    padding:6px;
    color:white;
    border-radius: 3px;
}

#pgAuthors a:link	{ text-decoration: none; color:#ffffff;}
#pgAuthors a:visited	{ text-decoration: none; color:#ffffff;}
#pgAuthors a:hover	{ text-decoration: underline; color:#ffffff;}
#pgAuthors a:active 	{ text-decoration: none; color:#ffffff;}